

<form id="create_post" action = "/createpost" method = "POST">
	<h3>Create a New Post</h3>
	
	<label for="post-subject">Subject:</label>
	<input type="text" name = "post_subject" placeholder = "Subject"><br>
	<label for="post-body">Body of Post:</label>
	<textarea ="text" textarea rows="4" cols="50" class = "bigboxclass" name="post_body" placeholder ="blah blah blah type your text here"></textarea>
	<!-- tags and stuff here later -->
	<input type="submit" name = "Post"> 

</form>