<div class="container">
  <div class="errors">
  <%= p session[:error] %>
    <%  that = session[:id]%>
    <% session.clear %>
    <% session[:id] = that %>

  </div>
    <div class = "blog_title">
      <h1>Insane Films</h1>

      <h2>Back and Better (or not)</h2>
    <% if !session[:user_id] %>  
      <a href="/login">login</a><br>
      <a href="/newuser">new user</a>
    <% end %>
    </div>

  <div "post_listing_main">
    <h3>Latest Posts:</h3>
      <ul>
          <% @posts.each do |post| %>    
            <li><a href="/post/<%= post.id %>"><%=post.title%></li><br>  
          <% end %> 
      </ul>
  </div>
</div>
