
<form id="signup" action = "/newuser" method = "POST">
	<h3>Create a New User</h3>
	
	<label for="user_email">Email:</label>
	<input type="text" name = "new_user_email" placeholder = "me@memail.com"><br>
	<label for="user-password">Password:</label>
	<input type ="password" name="new_user_password" placeholder ="*****">
	<label for = "verify-password">Verify:</label>
	<input type = "password-validation" name = "new_user_password_validation" placeholder = "******"></br>
	<input type="submit" name = "Submit"> <br>
</form>