<div class = "container">
<div class = "single_post">
<b>User:</b><%= @post.user.email %><br>
<b>Title:</b><%= @post.title %><br>
<b>Body:</b><%= @post.body %><br>
<a href="/edit/<%=@post.id%>"><b>EDIT THIS POST</b></a>
</div>
</div>